<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %c: %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </root>

    <!-- Лог hibernate -->
    <logger name="org.hibernate.SQL" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <!-- Трасировка параметров запроса -->
    <logger name="org.hibernate.type" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </logger>

    <!-- Лог apache.http -->
    <logger name="log4j.logger.org.apache.http">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="log4j.logger.org.apache.http.wire">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
</log4j:configuration>