<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %c: %m%n"/>
        </layout>
    </appender>

    <category name="org.apache.http">
        <priority value="INFO" />
        <appender-ref ref="consoleAppender" />
    </category>
    <category name="org.apache.http.headers">
        <priority value="DEBUG" />
        <appender-ref ref="consoleAppender" />
    </category>
    <category name="org.apache.http.wire">
        <priority value="DEBUG" />
        <appender-ref ref="consoleAppender" />
    </category>

    <category name="org.hibernate.SQL">
        <priority value="INFO" />
    </category>
    <category name="org.hibernate.type">
        <priority value="TRACE" />
    </category>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </root>
</log4j:configuration>