<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="gui-main-frame" class="com.github.andriell.gui.MainFrame">
        <property name="navTreeMenu" ref="gui-nav-three-root" />
    </bean>

    <bean id="gui-nav-three-root" class="com.github.andriell.gui.NavTreeItem">
        <property name="name" value="Параметры" />
        <property name="userObject" ref="gui-nashorn-work-area" />
        <property name="childNodes">
            <array>
                <ref bean="gui-nav-three-error" />
                <ref bean="gui-nav-three-process" />
                <ref bean="gui-nav-three-nashorn" />
            </array>
        </property>
    </bean>
    <bean id="gui-nav-three-nashorn" class="com.github.andriell.gui.NavTreeItem">
        <property name="userObject" ref="gui-nashorn-work-area" />
    </bean>
    <bean id="gui-nashorn-work-area" class="com.github.andriell.gui.NashornWorkArea">
        <property name="nashorn" ref="nashorn"/>
    </bean>
    <bean id="gui-nav-three-error" class="com.github.andriell.gui.NavTreeItem">
        <property name="userObject" ref="gui-error-work-area" />
    </bean>
    <bean id="gui-error-work-area" class="com.github.andriell.gui.ErrorWorkArea" />
    <bean id="gui-nav-three-process" class="com.github.andriell.gui.NavTreeItem">
        <property name="userObject" ref="gui-process-work-area" />
    </bean>
    <bean id="gui-process-work-area" class="com.github.andriell.gui.ProcessWorkArea">
        <property name="processWorkAreaTableModel" ref="gui-process-work-area-table-model" />
    </bean>
    <bean id="gui-process-work-area-table-model" class="com.github.andriell.gui.ProcessWorkAreaTableModel">
        <property name="managers">
            <array>
                <ref bean="manager-js" />
            </array>
        </property>
    </bean>


    <bean id="process-js" class="com.github.andriell.processor.ProcessJs">
        <property name="nashorn" ref="nashorn"/>
    </bean>
    <bean id="nashorn" class="com.github.andriell.nashorn.Nashorn">
        <property name="jsItems">
            <array>
                <ref bean="nashorn-js-item-console" />
                <ref bean="nashorn-js-item-task" />
            </array>
        </property>
    </bean>
    <bean id="nashorn-js-item-console" class="com.github.andriell.nashorn.JsItem">
        <property name="name" value="console" />
        <property name="object" ref="nashorn-console" />
    </bean>
    <bean id="nashorn-js-item-task" class="com.github.andriell.nashorn.JsItem">
        <property name="name" value="task" />
        <property name="object" ref="nashorn-task" />
    </bean>
    <bean id="nashorn-console" class="com.github.andriell.nashorn.console.Console">
        <property name="consoleListeners">
            <array>
                <ref bean="gui-nashorn-work-area" />
            </array>
        </property>
    </bean>
    <bean id="nashorn-task" class="com.github.andriell.nashorn.Task">
        <property name="processor" ref="processor" />
    </bean>

    <bean id="processor" class="com.github.andriell.processor.Processor">
        <property name="managers">
            <array>
                <ref bean="manager-js" />
            </array>
        </property>
    </bean>

    <bean id="manager-js" class="com.github.andriell.processor.Manager">
        <property name="fair" value="true" />
        <property name="capacity" value="100" />
        <property name="runnableLimiter" ref="limiter" />
        <property name="processBeanId" value="process-js" />
    </bean>
    <bean id="limiter" class="com.github.andriell.processor.RunnableLimiter">
        <property name="limitProcess" value="4" />
    </bean>

</beans>