<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="user.properties"/>
    </bean>

    <!-- НАСТРОЙКИ GUI -->
    <!-- Главное окно прогораммы -->
    <bean id="gui-main-frame" class="com.github.andriell.gui.MainFrame">
        <property name="navTreeMenu" ref="gui-nav-three-root" />
    </bean>

    <!-- Основное меню, корневой раздел параметры -->
    <bean id="gui-nav-three-root" class="com.github.andriell.gui.NavTreeItem">
        <property name="name" value="Параметры" />
        <property name="userObject" ref="gui-nashorn-work-area" />
        <property name="childNodes">
            <array>
                <ref bean="gui-nav-three-process" />
                <ref bean="gui-nav-three-nashorn" />
                <ref bean="gui-nav-three-products" />
            </array>
        </property>
    </bean>

    <!-- Основное меню, раздел Nashorn -->
    <bean id="gui-nav-three-nashorn" class="com.github.andriell.gui.NavTreeItem">
        <property name="userObject" ref="gui-nashorn-work-area" />
    </bean>
    <!-- Рабочая область Nashorn -->
    <bean id="gui-nashorn-work-area" class="com.github.andriell.gui.NashornWorkArea">
        <property name="nashorn" ref="nashorn"/>
        <property name="dataEditors">
            <array>
                <ref bean="gui-data-editor-html" />
            </array>
        </property>
    </bean>
    <bean id="gui-data-editor-html" class="com.github.andriell.gui.DataEditorWorkArea">
        <property name="fileName" value="page.html"/>
        <property name="syntaxEditingStyle" value="text/html" />
        <property name="dataBinId" value="process-js-data-html" />
        <property name="name" value="HTML" />
    </bean>

    <!-- Рабочая область Ошибки -->
    <bean id="gui-nav-three-process" class="com.github.andriell.gui.NavTreeItem">
        <property name="userObject" ref="gui-process-work-area" />
    </bean>
    <!-- Основное меню, раздел Процессы -->
    <bean id="gui-process-work-area" class="com.github.andriell.gui.process.ProcessWorkArea">
        <property name="processor" ref="processor" />
    </bean>

    <!-- Основное меню, раздел Nashorn -->
    <bean id="gui-nav-three-products" class="com.github.andriell.gui.NavTreeItem">
        <property name="userObject" ref="gui-products-work-area" />
    </bean>
    <!-- Рабочая область Products -->
    <bean id="gui-products-work-area" class="com.github.andriell.gui.product.ProductsWorkArea">
        <property name="productDao" ref="productDaoImpl" />
    </bean>
    <!-- КОНЕЦ НАСТРОЙКИ GUI -->

    <!-- Nashorn - среда для выполнения JS -->
    <bean id="nashorn" class="com.github.andriell.nashorn.Nashorn" />
    <!-- JS объект console -->
    <bean id="js-console" class="com.github.andriell.nashorn.console.Console">
        <property name="consoleListeners">
            <array>
                <ref bean="gui-nashorn-work-area" />
            </array>
        </property>
    </bean>

    <!-- js-informer-skype -->
    <bean id="js-informer-skype" class="com.github.andriell.nashorn.informer.InformerSkype">
        <property name="username" value="${skype.username}" />
        <property name="password" value="${skype.password}" />
    </bean>

    <!-- JS объект InformerBeep -->
    <bean id="js-informer-beep" class="com.github.andriell.nashorn.informer.InformerBeep" />

    <!-- JS объект roduct -->
    <bean id="js-product" class="com.github.andriell.db.Product" scope="prototype">
        <property name="productDao" ref="productDaoImpl" />
    </bean>
    <bean id="js-product-property" class="com.github.andriell.db.ProductProperty" scope="prototype" />

    <!-- JS объект HttpRequest -->
    <bean id="js-http-request" class="com.github.andriell.nashorn.http.HttpRequest" />

    <!-- JS объект HttpRequest -->
    <bean id="js-http-client" class="com.github.andriell.nashorn.http.HttpClient" />


    <!-- Процессор -->
    <bean id="processor" class="com.github.andriell.processor.Processor">
        <property name="managers">
            <array>
                <ref bean="manager-js" />
                <ref bean="manager-db" />
            </array>
        </property>
    </bean>

    <!-- Менеджер процессов JS -->
    <bean id="manager-js" class="com.github.andriell.processor.Manager">
        <property name="processBeanId" value="process-js" />
    </bean>
    <!-- Процесс JS -->
    <bean id="process-js" class="com.github.andriell.processor.js.ProcessJs" scope="prototype">
        <property name="nashorn" ref="nashorn"/>
    </bean>
    <bean id="process-js-data" class="com.github.andriell.processor.js.ProcessJsData" scope="prototype">
        <property name="processBeanId" value="process-js"/>
    </bean>

    <!-- Менеджер процессов DB -->
    <bean id="manager-db" class="com.github.andriell.processor.Manager">
        <property name="processBeanId" value="process-db" />
        <property name="limitProcess" value="4" />
    </bean>
    <!-- Процесс DB -->
    <bean id="process-db" class="com.github.andriell.processor.db.ProcessDb" scope="prototype" />

    <!-- DataFileWriter -->
    <bean id="file-writer" class="com.github.andriell.nashorn.console.DataFileWriter" scope="prototype" />

    <bean id="dataSourceHsql" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.p6spy.engine.spy.P6SpyDriver" />
        <property name="url" value="jdbc:hsqldb:file:data\db\main\db" />
        <property name="username" value="SA" />
        <property name="password" value="" />
    </bean>
    <bean id="dataSourceMysql" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/crafty_fox_main"/>
        <property name="username" value="root" />
        <property name="password" value="password" />
    </bean>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:~/CraftyFox/main" />
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources">
            <list>
                <value>com/github/andriell/db/Store.hbm.xml</value>
                <value>com/github/andriell/db/Product.hbm.xml</value>
                <value>com/github/andriell/db/ProductPropery.hbm.xml</value>
                <value>com/github/andriell/db/HashDate.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.use_sql_comments">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean id="productDaoImpl" class="com.github.andriell.db.ProductDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="hashDateDaoImpl" class="com.github.andriell.db.HashDateDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
</beans>