<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- НАСТРОЙКИ GUI -->
    <!-- Главное окно прогораммы -->
    <bean id="gui-main-frame" class="com.github.andriell.gui.MainFrame">
        <property name="navTreeMenu" ref="gui-nav-three-root" />
    </bean>

    <!-- Основное меню, корневой раздел параметры -->
    <bean id="gui-nav-three-root" class="com.github.andriell.gui.NavTreeItem">
        <property name="name" value="Параметры" />
        <property name="userObject" ref="gui-nashorn-work-area" />
        <property name="childNodes">
            <array>
                <ref bean="gui-nav-three-error" />
                <ref bean="gui-nav-three-process" />
                <ref bean="gui-nav-three-nashorn" />
            </array>
        </property>
    </bean>
    <!-- Основное меню, раздел Nashorn -->
    <bean id="gui-nav-three-nashorn" class="com.github.andriell.gui.NavTreeItem">
        <property name="userObject" ref="gui-nashorn-work-area" />
    </bean>
    <!-- Рабочая область Nashorn -->
    <bean id="gui-nashorn-work-area" class="com.github.andriell.gui.NashornWorkArea">
        <property name="nashorn" ref="nashorn"/>
    </bean>
    <!-- Основное меню, раздел Ошибки -->
    <bean id="gui-nav-three-error" class="com.github.andriell.gui.NavTreeItem">
        <property name="userObject" ref="gui-error-work-area" />
    </bean>
    <!-- Рабочая область Ошибки -->
    <bean id="gui-error-work-area" class="com.github.andriell.gui.ErrorWorkArea" />
    <bean id="gui-nav-three-process" class="com.github.andriell.gui.NavTreeItem">
        <property name="userObject" ref="gui-process-work-area" />
    </bean>
    <!-- Основное меню, раздел Процессы -->
    <bean id="gui-process-work-area" class="com.github.andriell.gui.ProcessWorkArea">
        <property name="processWorkAreaTableModel" ref="gui-process-work-area-table-model" />
    </bean>
    <!-- Рабочая область Процессы -->
    <bean id="gui-process-work-area-table-model" class="com.github.andriell.gui.ProcessWorkAreaTableModel">
        <property name="processor" ref="processor" />
    </bean>
    <!-- КОНЕЦ НАСТРОЙКИ GUI -->

    <!-- Nashorn - среда для выполнения JS -->
    <bean id="nashorn" class="com.github.andriell.nashorn.Nashorn" />
    <!-- JS объект console -->
    <bean id="js-console" class="com.github.andriell.nashorn.console.Console">
        <property name="consoleListeners">
            <array>
                <ref bean="gui-nashorn-work-area" />
            </array>
        </property>
    </bean>

    <!-- Процессор -->
    <bean id="processor" class="com.github.andriell.processor.Processor">
        <property name="managers">
            <array>
                <ref bean="manager-js" />
                <ref bean="manager-http" />
            </array>
        </property>
    </bean>

    <!-- Менеджер процессов JS -->
    <bean id="manager-js" class="com.github.andriell.processor.Manager">
        <property name="fair" value="true" />
        <property name="capacity" value="100" />
        <property name="runnableLimiter" ref="process-js-limiter" />
        <property name="processBeanId" value="process-js" />
    </bean>
    <!-- Ограничитель числа активных процессов JS -->
    <bean id="process-js-limiter" class="com.github.andriell.processor.RunnableLimiter">
        <property name="limitProcess" value="4" />
    </bean>
    <!-- Процесс JS -->
    <bean id="process-js" class="com.github.andriell.processor.js.ProcessJs">
        <property name="nashorn" ref="nashorn"/>
    </bean>
    <!-- Класс данных процесса JS -->
    <bean id="process-js-data-html" class="com.github.andriell.processor.js.ProcessJsDataHtml" scope="prototype" />
    <bean id="process-js-data-json" class="com.github.andriell.processor.js.ProcessJsDataJson" scope="prototype" />
    <bean id="process-js-data-string" class="com.github.andriell.processor.js.ProcessJsDataString" scope="prototype" />
    <bean id="process-js-data-bin" class="com.github.andriell.processor.js.ProcessJsDataBin" scope="prototype" />


    <!-- Менеджер процессов HTTP -->
    <bean id="manager-http" class="com.github.andriell.processor.Manager">
        <property name="fair" value="true" />
        <property name="capacity" value="100" />
        <property name="runnableLimiter" ref="process-http-limiter" />
        <property name="processBeanId" value="process-http" />
    </bean>
    <!-- Процесс HTTP -->
    <bean id="process-http" class="com.github.andriell.processor.http.ProcessHttp">
        <property name="httpContext" ref="process-http-context" />
        <property name="processor" ref="processor" />
    </bean>
    <!-- Процесс HTTP контекст -->
    <bean id="process-http-context" class="com.github.andriell.processor.http.ProcessHttpContext" />
    <!-- Ограничитель числа активных процессов HTTP -->
    <bean id="process-http-limiter" class="com.github.andriell.processor.RunnableLimiter">
        <property name="limitProcess" value="2" />
    </bean>

    <!-- Класс данных процесса HTTP -->
    <bean id="process-http-data" class="com.github.andriell.processor.http.ProcessHttpData" scope="prototype" />

</beans>