<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="builder" class="java.lang.StringBuffer" />

    <bean id="test_process_1" class="com.github.andriell.processor.ManagerTest$TestProcess1" scope="prototype">
        <property name="builder" ref="builder" />
    </bean>

    <bean id="test_process_2" class="com.github.andriell.processor.ManagerTest$TestProcess2" scope="prototype">
        <property name="builder" ref="builder" />
    </bean>

    <bean id="manager1" class="com.github.andriell.processor.Manager">
        <property name="fair" value="true" />
        <property name="capacity" value="100" />
        <property name="runnableLimiter" ref="limiter" />
        <property name="processBeanId" value="test_process_1" />
    </bean>
    <bean id="manager2" class="com.github.andriell.processor.Manager">
        <property name="fair" value="true" />
        <property name="capacity" value="100" />
        <property name="runnableLimiter" ref="limiter" />
        <property name="processBeanId" value="test_process_2" />
    </bean>
    <bean id="limiter" class="com.github.andriell.processor.RunnableLimiter">
        <property name="limitProcess" value="4" />
    </bean>

    <bean id="db-connection-pool" class="org.hsqldb.jdbc.JDBCPool">
        <property name="URL" value="jdbc:hsqldb:file:data\db\test\db" />
        <property name="user" value="SA" />
        <property name="password" value="" />
    </bean>
</beans>